* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.app {
  background-color: #1e1e1e;
  position: absolute;
  height: 100%;
  width: 100%;
  color: #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  margin-top: 50px;
  width: 20%;
  text-align: start;
  list-style: none;
}

form {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

li {
  padding: 5px;
  border-radius: 5px;
  border: 1px #00f solid;
  margin: 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    color: red;
    cursor: pointer;
    font-weight: bold;
    font-size: 150%;
  }
}
